// styling for listings

// single listings
.detail-banner.detail-banner-simple {
  height: 200px;
}


// listing archive
.listing-row {
  .listing-row-image {
      background-size: contain;
      width: 25%;
  }
  .listing-row-properties {
    display: none;
  }

}
