// Listing Categories
.listing-categories-card-container {
  margin-bottom: 10px;
  .listing-categories-card-title, .listing-types-card-title {
    padding-top: 10px;
  }
  .listing-categories-card {
    border: 2px solid #ababab;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 3px 1px;
  }
}


// styling for listings

// single listings

img.listing-title-logo {
  margin-right: 10px;
  width: 75px;
}
.detail-title {
  margin-bottom: 15px;
}
.detail-banner.detail-banner-simple {
  height: 200px;
}

.listing-detail  {
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  padding: 20px;
  img {
    max-height: 300px;  // see median
    width: inherit;
  }
  margin-top: 0px;
  .row.contact-wrap {
    border-top: 1px solid #efefef;
  }
  .listing-detail-section {
    margin-bottom: 10px;

    .listing-detail-author,
    .listing-detail-contact,
    .listing-detail-section,
    .listing-detail-attributes {
      box-shadow: none;
      margin-bottom: 0px;
      padding-bottom: 0px;
      padding: 20px 20px;
      .page-header {
        display: none;
        padding: 0px;
        margin: 0px;
      }
    }
    .see-more-link {
      float: right;
    }
    .listing-detail-author {
      .mug {
        text-align: center;
        width: 100%;
        img {
          height: initial;
          border: 0px;
          border-radius: 15%;
          margin-bottom: 0px;
        }
      }
      .listing-author-name {
        text-align: center;
      }
    } // author
    .listing-detail-contact {
      ul li  {
          strong.key {
            width: 20px;
          }
          span.value {
            width: initial;
            text-align: left;
            float: none;
          }

      }
    }
  } // listing-detail-section
  #listing-detail-section-gallery { // gallery
    margin-top: 0px;
    .listing-detail-gallery {
      .item-image {
        background-size: initial;
      }
    }
  }
  .listing-detail-thumb {
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
    //padding-bottom: 20px; // last one needs padding
  }
}
.listing-detail-attributes ul li span.value {
  width: 75%;
}

// listing archive (as row)
.post-type-archive-helpwanted h2.listing-row-title img {
  float: right;
  padding: 5px;
}

.listing-container {
  .listing-row {
    border: 2px solid #ababab;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 3px 1px;
  }
  .listing-row.featured {
    border-color: #0a83b6;
  }
}

@media only screen and (min-width: 1200px) {
  .listing-row-image { // needs to be out here s.t. superlist can overwrite @ media
    width: 20%; //
  }
}
.reach-cpt-img {
  max-width: 150px;
  padding-right: 15px;
}

.listing-container {
  margin-bottom: 15px;
}

a.read-more-link {
  margin-top: -10px;
  margin-bottom: -5px;
}

.pagination {
  margin: 25px 0 0 0;
}

.listings-row {
    //background-color: rgba(255, 255, 255, .4);
    padding-top: 10px;

  .listing-row {
    .listing-row-title {
      margin: 2px 0 10px 0;
    }
    .listing-row-title img { // logo image in title
      max-width: 100px;
      margin-right: 10px;
    }
    padding-bottom: 10px;
    .listing-row-image {
        height: 150px;
        background-size: contain;
        //width: 20%;
        //background-position: 0 0;
    }
    .listing-row-image.img-default {
        background-color: black;
    }
    .listing-row-body,
    .listing-row-properties {
      padding: 10px 15px 0px 15px;
      dd, dt {
        line-height: 28px;
      }

      //width: 80%;
    }

  } // listing-row
  .listing-row.rentals, // for types that dont have a title in the row archive, make excerpt a little bigger.
  .listing-row.classifieds,
  .listing-row.helpwanted {
    .listing-row-body .listing-row-content p {
      font-size: 1.1em;
      line-height: 1.5em;
    }
  } // listing-row of those that dont have titles
}
.listing-row:hover .listing-row-image:before {
  opacity: 0;
}
.listing-row:hover .listing-row-image {
  //background-color: $hover-hilite-color;
}

// listing archive as grid
.listing-box-archive {
  .listing-column {
    .listing-column-image {
      background-size: contain;
    }
    .listing-column-bottom-title { // nothing there, close up height, padding, etc
      min-height: initial;
      padding: 0px;
      display: none;
    }
  }

}
// recent listings widget
.listings-row {
  .listing-container .listing-small {
    .listing-small-content {
       padding-left: 10px;
       padding-right: 10px;
    }
  }

}
// listing types widget of listings (used on homepage)
.listing-categories-card-image,
.listing-types-card-image {
  background-color: #09729e;
  background-size: contain;
}

.listing-categories-card-image a, .listing-types-card-image a {
  background-color: rgba(0, 0, 0, .2);
}

.row > div {
  //background-color: rgba(255, 255, 255, 0.4);
}
