
/* ----------- Typography ------------------------------- */

i.fa-pull-left {
	float: left;
	padding-right: 5px;
}
i.fa-pull-right {
	float: right;
	padding-left: 5px;
}

.ea-title {
	font-style: italic;
	font-weight: bold;

}
// styling for ea menus in footer.
.footer-top
.widget_nav_menu.ea-footer-menu { // class on widget for menus in footer.
	h2.widgettitle {
		color: $footer-text-color!important;
		// Background colors:;
		text-transform: uppercase;
		text-align: center!important;

		margin-top: 20px!important;
		margin-bottom: 10px!important;
	}
	.widgettitle:before {
		content: none!important;
	}
	.menu {
		li {
				text-align: center;
				a {
					border-bottom: 0px!important;
					line-height: 2em!important;
					margin-right: 0px;
					color: $footer-text-color!important;
				}
		}
	}

}
/* ----------- end typography ----------- */
